<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>
  <body>
    <%- include('./partials/nav.ejs')%>

    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor, sit ament consectetur adipiscing elig. Oua quibudsam
        quareat illo a modei tenent rarm amaka ta li u li a
      </p>
      <p>
        Lorem ipsum dolor, sit ament consectetur adipiscing elig. Oua quibudsam
        quareat illo a modei tenent rarm amaka ta li u li a
      </p>
      <p>
        Lorem ipsum dolor, sit ament consectetur adipiscing elig. Oua quibudsam
        quareat illo a modei tenent rarm amaka ta li u li a
      </p>
    </div>
    <%- include('./partials/footer.ejs')%>
  </body>
</html>
