@import url('https:..fonts.googleapis.com/css2?family=Noto+Serif:wwgt@400;700&display=swap');
body {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;
  font-family: 'Noto Serif', serif;
}

p,
h1,
h2,
h3,
a,
ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #222;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
  text-transform: uppercase;
}

h3 {
  text-transform: capitalize;
  margin-bottom: 8px;
}

.content {
  margin-left: 20px;
}
/* index styles */
.blogs a {
  display: block;
  margin: 40px 0;
  padding-left: 0;
  padding-left: 30px;
  border-left: 6px solid crimson;
}

.blogs a:hover h3 {
  color: crimson;
}

.create-blog input,
.create-blog textarea {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 8px;
}

.create-blog label {
  display: block;
  margin-top: 24px;
}

textarea {
  height: 120px;
}
